.custom-footer {
  display: flex;
  flex-wrap: wrap;
  background: var(--primary);
  text-align: center;

  .wrap {
    box-sizing: border-box;
  }

  .flexbox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--secondary);
    padding: 2em 0 1em 0;
  }

  .first-box {
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 2em;

    .heading {
      font-size: $font-up-3;
      font-weight: 700;
      margin-bottom: 0.5em;
      display: block;
    }

    .blurb {
      color: var(--secondary-high);
      max-width: 700px;
      margin: 0 auto;
      text-align: center;
    }
  }

  .second-box {
    display: none;
  }

  .third-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 1px solid rgb(var(--primary-low-rgb), 0.05);
    padding-top: 1em;
    gap: 1rem;
  }

  .footer-links {
    flex: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .small-link {
    color: var(--secondary-high);
    font-size: $font-down-2;
    margin: 0;
  }

  .social {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social-link {
    margin: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .social-link .d-icon {
    color: var(--secondary);
    font-size: $font-up-2;
    opacity: 1;
    margin: 0;
    min-width: 16px;
  }
}

#main-outlet {
  min-height: 85vh;
}

@media screen and (max-width: $large-width) {
  .custom-footer {
    .first-box {
      max-width: 100%;
      border-bottom: 1px solid rgb(var(--primary-low-rgb), 0.05);
      margin-bottom: 1em;
      padding-bottom: 1em;
    }

    .third-box {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .first-box,
    .third-box {
      flex: 1 1 100%;
    }
  }
}

.static-login .custom-footer {
  margin-top: 3em;
}

.experimental-screen__bottom-left,
.experimental-screen__bottom-right,
.experimental-screen__bottom-bar {
  display: none;
}
